<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>filemanagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
  	<session-timeout>15</session-timeout>
  </session-config>
  <context-param>
    <param-name>driverClass</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost:3306/file_management</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>919817113</param-value>
  </context-param>
  <context-param>
  	<param-name>MaxSize</param-name>
  	<param-value>100000000</param-value>
  </context-param>
  <context-param>
  	<param-name>TotalMaxSize</param-name>
  	<param-value>200000000</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>common.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileOnloadSelect</display-name>
    <servlet-name>FileOnloadSelect</servlet-name>
    <servlet-class>common.FileOnloadSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileOnloadSelect</servlet-name>
    <url-pattern>/fileonload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>doFileOnload</display-name>
    <servlet-name>doFileOnload</servlet-name>
    <servlet-class>common.doFileOnload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doFileOnload</servlet-name>
    <url-pattern>/doFileOnload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileList</display-name>
    <servlet-name>FileList</servlet-name>
    <servlet-class>common.FileList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileList</servlet-name>
    <url-pattern>/filelist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoFileSearch</display-name>
    <servlet-name>DoFileSearch</servlet-name>
    <servlet-class>common.DoFileSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoFileSearch</servlet-name>
    <url-pattern>/dofilesearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFileRecord</display-name>
    <servlet-name>DeleteFileRecord</servlet-name>
    <servlet-class>common.DeleteFileRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFileRecord</servlet-name>
    <url-pattern>/deletefilerecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileModify</display-name>
    <servlet-name>FileModify</servlet-name>
    <servlet-class>common.FileModify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileModify</servlet-name>
    <url-pattern>/FileModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelType</display-name>
    <servlet-name>CancelType</servlet-name>
    <servlet-class>common.CancelType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelType</servlet-name>
    <url-pattern>/CancelType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TypeModify</display-name>
    <servlet-name>TypeModify</servlet-name>
    <servlet-class>common.TypeModify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypeModify</servlet-name>
    <url-pattern>/TypeModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogout</display-name>
    <servlet-name>UserLogout</servlet-name>
    <servlet-class>common.UserLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogout</servlet-name>
    <url-pattern>/UserLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>doModifyPasswd</display-name>
    <servlet-name>doModifyPasswd</servlet-name>
    <servlet-class>common.doModifyPasswd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doModifyPasswd</servlet-name>
    <url-pattern>/doModifyPasswd</url-pattern>
  </servlet-mapping>
</web-app>